<section class="social">
    <div class="collapsed">
        <span class="el">{{ t 'menu.Social.Social' }}</span>
        {{!-- <span class="el">{{ t 'menu.Social.No new notifications' }}</span> --}}
        <span class="el">{{ t 'menu.Social.Friends online:' }} <span class="important" id="friendsOnline"></span></span>
    </div>
    <div class="expanded">
        <div class="chatBox requestsBox" id="requestsbox">
            <h1 class="title">{{ t 'menu.Social.Friend requests' }} <span class="material-symbols-outlined closeX" onclick="closeRequests()">close</span></h1>
            <div id="requests">

            </div>
        </div>
        <div class="chatBox" id="chatbox">
            <h1 class="title">{{ t 'menu.Social.chat.Chat' }} <div><span id="chatFriendName"></span><span class="material-symbols-outlined closeX" onclick="closeChat()">close</span></div></h1>
            <div class="chat" id="chat"></div>
            <textarea id="messageBox" rows="3" placeholder="{{ t 'menu.Social.chat.Type your message here' }}"></textarea>
            <div class="messageLengthIndicator">
                <div class="messageProgressContainer">
                    <div id="messageProgressBar"></div>
                </div>
                <p id="messageRemainingChars"></p>
            </div>
        </div>
        <h1 class="mainTitle">{{ t 'menu.Social.Friends' }} <span class="material-symbols-outlined closeX" id="closeSocialTab" onclick="toggleSocialTabMobile()">close</span></h1>
        <div class="inviteFriends">
            <h3>{{ t 'menu.Social.addafriend.Add a friend!' }}</h3>
            <p>{{ t 'menu.Social.addafriend.Your friend needs to add you through your UID' }}</p>
            <h4>UID:</h4>
            <p class="monospace myuid"></p>
            <input type="text" id="uidInput" placeholder="{{ t 'menu.Social.addafriend.Friends UID' }}">
            <button onclick="sendRequest()">{{ t 'menu.Social.addafriend.Send a request' }}</button>
            {{!-- <input type="text" name="" id="" placeholder="UID znajomego"> --}}
        </div>
        <button onclick="openRequests()" class="topBtn">{{ t 'menu.Social.Friend requests' }}</button>
        <div class="friendsList" id="friendsList"></div>
    </div>
</section>

<div class="sitecontent">
    <div class="newsModalContainer" id="newsModalContainer">
        <div class="newsModal">
            <h2>{{ t 'menu.General.News and changes' }}</h2>
            <h1>The 0.12.0 patchnotes</h1>
            <div class="actualText">
                <p>This patch did not introduce the guest mode YET, but I've recently came up with another good idea for a feature - a friends and chat system. This update introduces just that.</p>
                <h3>All changes</h3>
                <ul>
                    <li>Added a Social tab on the left-hand side of the screen.</li>
                    <li>On desktop, you can hover over the Social bar to open it, on mobile you have a separate button.</li>
                    <li>From the Social tab, you can invite other players to friends through their UID which is shown in the "Invite a friend!" section.</li>
                    <li>After you become friends with someone, you can send DMs to each other as well as see each others current activity.</li>
                    <li>Through the activity information, you can see if your friend is online, in game, which mode they are playing, which part of the main menu they are currently browsing etc.</li>
                    <li>After removing a friendship, the DM history is deleted and you will no longer see each other's activity information.</li>
                    <li>The Social tab is not available in game, but activity information is still shared to your friends.</li>
                    <li>As long as you're in the main menu, you will receive live notifications if one of your friends becomes online, sends you a message or someone sends you a friend invite.</li>
                    <li>Improved the toast notification design.</li>
                    <li>Improved the news screen design.</li>
                </ul>
                <p>You can expect further changes and improvements to the Social system. As always, please report any bugs and suggestions to <a href="mailto:me@mcjk.cc">me@mcjk.cc</a>.</p>
            </div>
        </div>
    </div>
    
    <div class="newItemContainer" id="lootboxOpenContainer">
        <div class="lootboxModal">
            <h1>{{ t 'menu.Inventory.You receive:' }}</h1>
    
            <div class="item" id="droppedItem" style="--gradient-colors: ;--background:;">
                <div class="background"></div>
                <div class="overlay">
                    <div class="overlayBase">
                        <h2 id="droppedItemType"></h2>
                        <h1 id="droppedItemName"></h1>
                        <p id="droppedItemDescription"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="newItemContainer" id="giftContainer">
        <div class="lootboxModal">
            <h1>{{ t 'menu.Inventory.You received a gift' }}</h1>
            <p id="giftMessage"></p>
    
            <div class="item" id="giftItem" style="--gradient-colors: ;--background:;">
                <div class="background"></div>
                <div class="overlay">
                    <div class="overlayBase">
                        <h2 id="giftItemType"></h2>
                        <h1 id="giftItemName"></h1>
                        <p id="giftItemDescription"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <nav>
        <div class="item">
            <span onclick="toggleSocialTabMobile()" class="socialButton">{{ t 'menu.navbar.Social' }}</span>
            <span onclick="switchView('settingsView')">{{ t 'menu.navbar.Settings'}}</span>
        </div>

        <span onclick="switchView('mainMenuView')" class="item" style="text-align: center;">{{ t 'menu.navbar.Main menu'}}</span>
        <div class="item">
            <span id="profileButton">{{ t 'menu.navbar.Profile' }}</span>
            <span id="shopButton" onclick="switchView('shopView')">
                <img src="/assets/img/masts-logo.png" alt="Masts" style="height: 0.9em;">
                <span id="masts">0</span>
            </span>
        </div>
    </nav>
    <div class="container" id="mainMenuView" data-path="/">
        <div>
            <h2>{{ t 'menu.index.Select game mode' }}</h2>
            <div class="modes">
                <div onclick="switchView('pvpMenuView')">
                    <h2>{{ t 'menu.index.PvP' }}</h2>
                    <p>{{ t 'menu.index.Play against another player' }}</p>
                </div>
                <div onclick="switchView('vsAiView')">
                    <h2>{{ t 'menu.index.Vs AI' }}</h2>
                    <p>{{ t 'menu.index.Play against the computer' }}</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container" id="vsAiView" data-path="/pve">
        <div>
            <h2>{{ t 'menu.PvE.Create' }}</h2>
            <h3>{{ t 'menu.PvE.Choose the difficulty mode' }}</h3>
            <div class="modes">
                <div>
                    <form action="#" id="pveCreateForm">
                        <select name="difficulty" id="pveDifficulty">
                            <option value="simple">Simple</option>
                            <option value="smart">Smart</option>
                            <option value="overkill">Overkill</option>
                        </select>
                        <p id="difficultyDescription">
                            {{ t 'menu.PvE.difficulty.Simple.description' }}
                        </p>
                        <input type="submit" value="{{ t 'menu.PvE.Begin' }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container" id="pvpMenuView" data-path="/pvp">
        <div>
            <h2>{{ t 'menu.PvP.PvP' }}</h2>
            <div class="modes">
                <div id="createGameButton">
                    <h2>{{ t 'menu.PvP.Create' }}</h2>
                    <p>{{ t 'menu.PvP.Create your own room' }}</p>
                </div>
                <div onclick="switchView('pvpJoinView')">
                    <h2>{{ t 'menu.PvP.Join' }}</h2>
                    <p>{{ t 'menu.PvP.Join a room by a code' }}</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container" id="pvpCreateView" data-path="/pvp/create" data-pathlock>
        <div>
            <h2>{{ t 'menu.PvP/Create.PvP / Create' }}</h2>
            <div class="modes">
                <div>
                    <h2>{{ t 'menu.PvP/Create.Room code:' }}</h2>
                    <input type="text" maxlength="6" readonly value="-" id="createGameCode">
                    <h3>{{ t 'menu.PvP/Create.Waiting for an opponent' }}</h3>
                    <button id="leaveGameButton">{{ t 'menu.PvP/Create.Leave the room' }}</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container" id="pvpJoinView" data-path="/pvp/join">
        <div>
            <h2>{{ t 'menu.PvP/Join.PvP / Join' }}</h2>
            <div class="modes">
                <div>
                    <form action="#" id="pvpJoinForm">
                        <input type="text" maxlength="6" id="pvpJoinCode" placeholder="{{ t 'menu.PvP/Join.Room code' }}"
                            autocomplete="off">
                        <input type="submit" value="{{ t 'menu.PvP/Join.Join' }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container" id="preparingGame" data-path="/pvp/prepairing" data-pathlock>
        <div>
            <h2>{{ t 'menu.PvP/Loading.PvP / Loading' }}</h2>
            <div class="modes">
                <div>
                    <h2>{{ t 'menu.PvP/Loading.Wait' }}</h2>
                    <h3>{{ t 'menu.PvP/Loading.You will be redirected soon' }}</h3>
                    <h3>{{ t 'menu.PvP/Loading.Opponent:' }}</h3>
                    <h4 id="oppNameField" class="username"></h4>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container" id="profileView" data-path="/profile">
        <div class="profile">
            <h1 class="nickname username">{{ t 'menu.Profile.Loading' }}</h1>
            <div class="accountinfo">
                <div class="levelContainer" id="levelcontainer">
                    <span id="level">0</span>
                    <div>
                        <div class="progress-container">
                            <div class="progress-bar" id="xpbar" style="width: 0%;"></div>
                        </div>
                    </div>
                </div>
                <span id="xpbooststatus">{{ t 'menu.Profile.XP Boost active' }}</span>
                <div>
                    <span>{{ t 'menu.Profile.Player since:' }} </span>
                    <span id="playerSince">-</span><br>
                </div>
    
            </div>
        </div>
        <div class="stats">
            <div class="matchList"></div>
            <div class="periodical">
                <div class="stat">
                    <h1 id="monthlyPlayed">-</h1><span>{{ t 'menu.Profile.matches played this month' }}</span>
                </div>
                <div class="stat">
                    <h1 id="totalPlayed">-</h1><span>{{ t 'menu.Profile.total matches played' }}</span>
                </div>
                <div class="stat">
                    <h1 id="winrate">-</h1><span>{{ t 'menu.Profile.winrate this month' }}</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container" id="shopView" data-path="/shop">
        <div class="main">
            <h1>{{ t 'menu.Shop.Shop' }}</h1>
            <h2>{{ t 'menu.Shop.Theme packs' }}</h2>
            <p>{{ t 'menu.Shop.Theme packs modify the look of your Statki' }}</p>
            <div class="items" id="themepacks">
    
            </div>
    
            <h2>{{ t 'menu.Shop.Namestyles' }}</h2>
            <p>{{ t 'menu.Shop.Namestyles are visual modifications to your nickname visible to you and other players' }}</p>
            <div class="items" id="namestyles">
    
            </div>
    
            <h2>{{ t 'menu.Shop.Statboxes' }}</h2>
            <p>
                {{ t 'menu.Shop.Statboxes are lootboxes containing random items including XP boosts and cosmetic items'
                }}<br>
                {{ t 'menu.Shop.Statboxes may contain items not available for purchase in the shop' }}
            </p>
            <div class="items" id="statboxes">
    
            </div>
        </div>
    </div>
    
    <div class="container" id="inventoryView" data-path="/inventory">
        <div class="main">
            <h1>{{ t 'menu.Inventory.Inventory' }}</h1>
            <div class="controls">
                <button class="danger" onclick="applyTheme(null)">{{ t 'menu.Inventory.Reset theme' }}</button>
                <button class="danger" onclick="applyNameStyle(null)">{{ t 'menu.Inventory.Reset name style' }}</button>
            </div>
            <div class="items" id="inventoryitems">
    
            </div>
        </div>
    </div>
    
    <div class="container" id="dropRatesView" data-path="/drop-rates">
        <div class="main">
            <h1>{{ t 'menu.Inventory.Drop rates' }}</h1>
            <div id="dropRates">
    
            </div>
            <p>{{ t 'menu.Inventory.Chances dont matter if you own all unique items of a certain category In this case the
                algorithm chooses the first category under the one picked that you can (still) get items from' }}</p>
        </div>
    </div>
    
    <div class="container" id="settingsView" data-path="/settings">
        <div>
            <h1>{{ t 'menu.Settings.Settings' }}</h1>
            <h2>{{ t 'menu.Settings.General' }}</h2>
            <label for="language">Language: </label>
            <select name="language" id="languages">
    
            </select>
    
            <h2>{{ t 'menu.Settings.Account' }}</h2>
            <h3>{{ t 'menu.Settings.Current nickname:' }} <span class="nickname dynamic">{{ t 'menu.Profile.Loading'
                    }}</span></h3>
            <button onclick="window.location.href = '/nickname'">{{ t 'menu.Settings.Change nickname' }}</button>
            <p style="font-size: 0.75rem;opacity: 0.6;">{{ t 'menu.Settings.See: Privacy policy for modifying or removing
                other account data' }}</p>
            <h3 onclick="openNewsModal()" id="news">{{ t 'menu.Settings.Show news and changes' }}</h3>
            <h3 id="logout">{{ t 'menu.Settings.Log out' }}</h3>
            <p class="versionInfo">Statki ver. {{ ver }}<br>© 2024 mcjk<br><a href="/terms" target="_blank">{{ t
                    'landing.Terms of service' }}</a> / <a href="/privacy" target="_blank">{{ t 'landing.Privacy policy'
                    }}</a></p>
        </div>
    </div>
</div>

<script>
    window.locale = {
        "Operation failed": "{{ t 'menu.General.Operation failed' }}",
        "Unknown error occured": "{{ t 'menu.General.Unknown error occured' }}",
        "Status:": "{{ t 'menu.General.Status:' }}",
        "Until:": "{{ t 'menu.Profile.Until:' }}",
        "Victory": "{{ t 'menu.Profile.Victory' }}",
        "Defeat": "{{ t 'menu.Profile.Defeat' }}",
        "Click to view match statistics": "{{ t 'menu.Profile.Click to view match statistics' }}",
        "No matches played": "{{ t 'menu.Profile.No matches played' }}",
        "Thats all of your matches Theres nothing more to see here": "{{ t 'menu.Profile.Thats all of your matches Theres nothing more to see here' }}",

        "My profile": "{{ t 'menu.General.My profile' }}",
        "Inventory": "{{ t 'menu.General.Inventory' }}",

        "Reconnecting": "{{ t 'errors.Reconnecting' }}",
        "Reconnected": "{{ t 'errors.Reconnected' }}",
        "Reconnection error occured": "{{ t 'errors.Reconnection error occured' }}",
        "Reconnection failed": "{{ t 'errors.Reconnection failed' }}",
        "Disconnected": "{{ t 'errors.Disconnected' }}",
        "Try to refresh the page if this error reoccurs": "{{ t 'errors.Try to refresh the page if this error reoccurs' }}",
        "Connection error": "{{ t 'errors.Connection error' }}",
        "Simple description": "{{ t 'menu.PvE.difficulty.Simple.description' }}",
        "Smart description": "{{ t 'menu.PvE.difficulty.Smart.description' }}",
        "Overkill description": "{{ t 'menu.PvE.difficulty.Overkill.description' }}",

        "These are masts, a currency you can earn by leveling up (by playing Vs AI games) Click on the masts icon to open the shop!": "{{ t 'menu.General.These are masts, a currency you can earn by leveling up (by playing Vs AI games) Click on the masts icon to open the shop!' }}",

        "Are you sure you want to buy this?": "{{ t 'menu.Shop.Are you sure you want to buy this?' }}",
        "This will cost you": "{{ t 'menu.Shop.This will cost you' }}",
        "masts": "{{ t 'menu.Shop.masts' }}",
        "Cancel": "{{ t 'menu.Shop.Cancel' }}",
        "Confirm": "{{ t 'menu.Shop.Confirm' }}",
        "You cannot buy this item": "{{ t 'menu.Shop.You cannot buy this item' }}",


        "Apply": "{{ t 'menu.Inventory.Apply' }}",
        "Open": "{{ t 'menu.Inventory.Open' }}",
        "Use": "{{ t 'menu.Inventory.Use' }}",
        "Drop rates": "{{ t 'menu.Inventory.Drop rates' }}",
        "Theme pack": "{{ t 'menu.Inventory.Theme pack' }}",
        "Name style": "{{ t 'menu.Inventory.Name style' }}",
        "XP Boost": "{{ t 'menu.Inventory.XP Boost' }}",
        "Nothing to see here": "{{ t 'menu.Inventory.Nothing to see here' }}",

        "Chat": "{{ t 'menu.Social.chat.Chat' }}",
        "Duel": "{{ t 'menu.Social.Duel' }}",
        "Remove friend": "{{ t 'menu.Social.Remove friend' }}",

        "Offline": "{{ t 'menu.Social.statuses.Offline' }}",
        "In game - PvP": "{{ t 'menu.Social.statuses.In game - PvP' }}",
        "In game - Vs. AI": "{{ t 'menu.Social.statuses.In game - Vs AI' }}",
        "Online - Main menu": "{{ t 'menu.Social.statuses.Online - Main menu' }}",
        "Online - My profile": "{{ t 'menu.Social.statuses.Online - My profile' }}",
        "Online - Shop": "{{ t 'menu.Social.statuses.Online - Shop' }}",
        "Online - Inventory": "{{ t 'menu.Social.statuses.Online - Inventory' }}",
        "Online - Settings": "{{ t 'menu.Social.statuses.Online - Settings' }}",

        "Friend online": "{{ t 'menu.Social.toasts.Friend online' }}",
        "just went online": "{{ t 'menu.Social.toasts.just went online' }}",
        "Your friend just went online! You can message them through the Social tab": "{{ t 'menu.Social.toasts.Your friend just went online! You can message them through the Social tab' }}",

        "This is the beginning of your conversation": "{{ t 'menu.Social.chat.This is the beginning of your conversation' }}",
        "Chats are not supervised nor encrypted": "{{ t 'menu.Social.chat.Chats are not supervised nor encrypted' }}",

        "New message": "{{ t 'menu.Social.chat.New message' }}",
        "New message from a friend": "{{ t 'menu.Social.chat.New message from a friend' }}",
        "just sent you a message! You can read it in the Social tab": "{{ t 'menu.Social.chat.just sent you a message! You can read it in the Social tab' }}",

        "Friend requests": "{{ t 'menu.Social.Friend requests' }}",
        "New friend request": "{{ t 'menu.Social.addafriend.New friend request' }}",
        "invited you to become friends. You can respond to the invitation in the Social tab": "{{ t 'menu.Social.addafriend.invited you to become friends You can respond to the invitation in the Social tab' }}",

        "Outgoing": "{{ t 'menu.Social.Outgoing' }}",
        "Incoming": "{{ t 'menu.Social.Incoming' }}",
    };
</script>
<script src="/assets/js/spa_lib.js"></script>
<script src="/assets/js/socket.js"></script>
<script src="/assets/js/social.js"></script>
<script src="/assets/js/socket-err-handler.js"></script>